         {% load static %}
         <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>

            <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        </head>
        <body>
        <p><a href="{% url 'polls:hypotenuse_of_triangle' %}">Вычесление гипотенузы</a></p>
        <p><a href="{% url 'polls:create_pers' %}">person</a></p>
        <p><a href="{% url 'polls:text_mail' %}">Email Form</a></p>

            {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                   <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}

        </body>
        </html>